.env
.wrangler/tmp/bundle-c44InC/middleware-insertion-facade.js
.wrangler/tmp/bundle-c44InC/middleware-loader.entry.ts
.wrangler/tmp/bundle-c44InC/strip-cf-connecting-ip-header.js
.wrangler/tmp/dev-ACXH3a/index.js
.wrangler/tmp/dev-ACXH3a/index.js.map
.wrangler